*{
    margin: 0;
    font: normal normal 600 15px/46px Poppins;
}
body{
    width: 100vb;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box{
    background: linear-gradient(to bottom, rgba(29, 109, 189, 0.685), rgba(222, 232, 241, 0.767) );
    width: 60vb;
    height: auto;
    border-radius: 8px;
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
    padding-top: 10px;
}
.search-input{
    height: 6vh;
    width: 35vb;
    border: 1px solid transparent;
    border-radius: 16px;
    text-align: center;
    font: normal normal 600 15px/46px Poppins;
}
.glass{
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.731);
    padding: 0.1px 15px;
    border-radius: 50%;
    border: transparent;
    text-decoration: none;
}
.cloudy{
    margin-top: 10px;
    margin-bottom: 0;
    width: 80px;
    height: 80px;
}
.detail{
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
    margin-top: 30px;
}
.hum, .wind-box{
    display: flex;
}
.hum-img{
    width: 40px;
    height: 50px;
}
.wind-img{
    width: 40px;
    height: 50px;
}
p{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 32px;
    margin-top: 10px;
}
.weather{
    display: none;
}